<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>도서 조회</h2>
	<a href="/list">목록으로 돌아가기</a>
	<table>
		<tr>
			<td>
				번호
			</td>
			<td th:text="${book.id">
			</td>
		</tr>
			<tr>
				<td>
					도서명
				</td>
				<td th:text="${book.bookName">
				</td>
			</tr>
			<tr>
				<td>
					저자
				</td>
				<td th:text="${book.booAuthor">
				</td>
			</tr>
			<tr>
				<td>
					출판사
				</td>
				<td th:text="${book.bookPublisher">
				</td>
			</tr>
			<tr>
				<td>
					가격
				</td>
				<td th:text="${book.bookPrice">
				</td>
			</tr>
	</table>
</body>
</html>