<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>save.html</h2>
	<!-- 도서번호(id),도서명(bookName),저자(bookAuthor),출판사(bookPublisher),가격(bookPrice)
	를 입력 받고 save라는 주소로 post 방식으로 전송
	컨트롤러에서 BookDTO 객체로 입력한 정보를 받음 -->
	<form action="/save" method="post">
	도서명:<input type="text" name="bookName"> <br>
	저자:<input type="text" name="bookAuthor"> <br>
	출판사<input type="text" name="bookPublisher"> <br>
	가격:<input type="text" name="bookPrice"> <br>
	<input type="submit" value="등록">
	</form>
</body>
</html>