<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Book">
	<insert id="save" parameterType="com.example.book.dto.BookDTO">
	insert into book_table(bookName,bookAuthor,bookPublisher,bookPrice)
		values (#{bookName},#{bookAuthor},#{bookPublisher},#{bookPrice})
		</insert>
		
		<select id="findAll" resultType="com.example.book.dto.BookDTO">
				select * from book_table
		</select>
		
		<select id="findById" parameterType="Long" resultType = "com.example.book.dto.BookDTO">
				select * from book_table where id=#{id}
		</select>
</mapper>